body {
    font-family: Calibre, sans-serif;
    background-color: #10261e;
    margin: 0;
    padding: 2rem;
    color: #9ab58a;
}

h1, h2, h3 {
    color: #9ab58a;
}

a {
    text-decoration: none;
    color: #9ab58a;
}

a:hover {
    text-decoration: underline;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster {
    width: 240px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.movie-poster:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
}

.movie-info {
    margin-top: 1rem;
    background-color: #151f1b;
    border-radius: 16px;
    padding: 1rem;
    width: 240px;
    height: 270px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}

.movie-info p {
    margin: 0.3rem 0;
    word-wrap: break-word;
}

.movie-info::-webkit-scrollbar {
    width: 6px;
}

.movie-info::-webkit-scrollbar-thumb {
    background-color: #4d5c44;
    border-radius: 8px;
}

.movie-info::-webkit-scrollbar-track {
    background: transparent;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.button-group form {
    margin: 0;
}

.button-link, .update-button, .delete-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    display: inline-block;
}

.button-link {
    background-color: #0e7513;
    color: #fff;
}

.button-link:hover {
    background-color: #0e7513;
}

.update-button {
    background-color: #0e7513;
    color: #fff;
}

.update-button:hover {
    background-color: #0e7513;
}

.delete-button {
    background-color: #9e100d;
    color: #fff;
}

.delete-button:hover {
    background-color: #9e100d;
}
