<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="form-container">
        <h1>{{ message }}</h1>

        {% if user_id %}
            <a class="button-link bottom-space" href="{{ url_for('user_movies', user_id=user_id) }}">Back to my favorite movies</a>
        {% else %}
            <a class="button-link bottom-space" href="{{ url_for('home') }}">Return home</a>
        {% endif %}
    </div>
</body>
</html>
